{% extends "base_template.html" %}

{% block title %}Create Community{% endblock %}


{% block content %}
    <h1 class="h3 mb-3">Create Community</h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}<br>
            {% if form.name.errors %}
                <span style="color: red;">{{ form.name.errors[0] }}</span><br>
            {% endif %}
        </div>
        <div>
            {{ form.description.label }}<br>
            {{ form.description(rows=4, cols=40) }}<br>
            {% if form.description.errors %}
                <span style="color: red;">{{ form.description.errors[0] }}</span><br>
            {% endif %}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
{% endblock %}
